<!-- templates/base_generic.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}iCare Home{% endblock %}</title>
    <!-- Add links to CSS files here -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'core:home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% comment %} <li><a href="{% url 'homeowner:profile' %}">Profile</a></li> {% endcomment %}
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'homeowner:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content here -->
    </footer>

    <!-- Add JavaScript files at the bottom of the body -->
</body>
</html>
